* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "RussianRail";
  font-weight: 300;
  src: url("../fonts/RussianRail-GPro-Extend.otf");
}
@font-face {
  font-family: "RussianRail";
  font-weight: 400;
  src: url("../fonts/RussianRail-GPro-Regular.otf");
}
@font-face {
  font-family: "RussianRail";
  font-weight: 500;
  src: url("../fonts/RussianRail-GPro-Medium.otf");
}
@font-face {
  font-family: "RussianRail";
  font-weight: 700;
  src: url("../fonts/RussianRail-GPro-Bold.otf");
}
:root {
  --text-color: #363636;
  --background-color: #FFFFFF;
  --background-color-grey: #F2F4F7;
  --font-18: 18px;
  --font-16: 16px;
}

.main__wrapper {
  margin: auto;
  width: 1440px;
}

body {
  background-color: var(--background-color);
  font-family: "RussianRail", sans-serif;
}

header nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 40px;
  height: auto;
}
header nav svg {
  cursor: pointer;
}
header nav .nav__home-btn svg,
header nav .nav__dots-btn svg {
  fill: #E21A1A;
}
header nav .nav__home-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 48px;
  height: 48px;
  background-color: #FFFFFF;
  box-shadow: -1px -1px 0px #FFFFFF, 0px 9px 10px rgba(0, 0, 0, 0.05);
  border-radius: 8px;
  margin-right: 19px;
  transition: 0.3s;
}
header nav .nav__dots-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 48px;
  height: 48px;
  background-color: #FFFFFF;
  box-shadow: -1px -1px 0px #FFFFFF, 0px 9px 10px rgba(0, 0, 0, 0.05);
  border-radius: 8px;
  margin-left: 0;
  margin-right: auto;
  transition: 0.3s;
}
header nav .nav__home-btn:hover,
header nav .nav__dots-btn:hover {
  background-color: #E21A1A;
}
header nav .nav__home-btn:hover svg,
header nav .nav__dots-btn:hover svg {
  fill: #FFFFFF;
}
header nav .nav__svg:last-child {
  margin-left: 47px;
}

.container {
  transition-duration: 0.6s;
}

section.one {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 640px;
  position: relative;
}
section.one img {
  position: absolute;
  display: block;
}
section.one img:nth-child(3) {
  bottom: -2px;
  z-index: 4;
}
section.one img:nth-child(4) {
  right: 0;
  bottom: 220px;
}
section.one img:nth-child(5) {
  right: 0;
  bottom: 0;
  z-index: 4;
}
section.one img:nth-child(6) {
  right: 0;
  bottom: 100px;
  z-index: 4;
}
section.one img:nth-child(7) {
  right: 0;
  left: 0;
  margin: auto;
  bottom: 0px;
  z-index: 3;
}
section.one img:nth-child(8) {
  left: 500px;
  bottom: 150px;
}
section.one img:nth-child(9) {
  right: 0;
  left: 250px;
  bottom: 20px;
  z-index: 4;
}
section.one img:nth-child(10) {
  right: 0;
  left: auto;
  bottom: 0;
  z-index: 4;
}
section.one img:nth-child(11) {
  right: auto;
  left: 0;
  bottom: 0;
  z-index: 4;
}
section.one .back {
  position: initial;
}
section.one svg {
  display: block;
  object-fit: cover;
}
section.one .container__wrapper {
  position: relative;
}
section.one .container__wrapper h1 {
  color: var(--text-color);
  font-family: "RussianRail", sans-serif;
  font-weight: 700;
  text-align: center;
  font-size: 48px;
  line-height: 58px;
}

section.two,
section.four,
section.six,
section.eight,
section.ten {
  padding: 70px 144px;
}
section.two h4,
section.four h4,
section.six h4,
section.eight h4,
section.ten h4 {
  color: var(--text-color);
  font-family: "RussianRail", sans-serif;
  font-weight: 700;
  font-size: 28px;
  line-height: 34px;
  margin-bottom: 16px;
}
section.two .container__wrapper,
section.four .container__wrapper,
section.six .container__wrapper,
section.eight .container__wrapper,
section.ten .container__wrapper {
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
}
section.two .container__wrapper p,
section.four .container__wrapper p,
section.six .container__wrapper p,
section.eight .container__wrapper p,
section.ten .container__wrapper p {
  max-width: 546px;
  color: var(--text-color);
  font-family: "RussianRail", sans-serif;
  font-style: normal;
  font-weight: 300;
  margin-bottom: 16px;
  font-size: var(--font-16);
  line-height: 180%;
}
section.two .container__wrapper-item,
section.four .container__wrapper-item,
section.six .container__wrapper-item,
section.eight .container__wrapper-item,
section.ten .container__wrapper-item {
  width: 49%;
}
section.two .container__wrapper-item:nth-child(2) p,
section.four .container__wrapper-item:nth-child(2) p,
section.six .container__wrapper-item:nth-child(2) p,
section.eight .container__wrapper-item:nth-child(2) p,
section.ten .container__wrapper-item:nth-child(2) p {
  color: var(--text-color);
  font-family: "RussianRail", sans-serif;
  font-weight: 400;
  max-width: 463px;
  margin-bottom: 17px;
  font-size: var(--font-18);
  line-height: 140%;
  color: var(--text-color);
}
section.two .graphic-item:after,
section.four .graphic-item:after,
section.six .graphic-item:after,
section.eight .graphic-item:after,
section.ten .graphic-item:after {
  content: "";
  height: 172px;
  width: 172px;
  position: absolute;
  right: 0;
  top: -30px;
  background-image: url("data:image/svg+xml,%3Csvg width='172' height='172' viewBox='0 0 172 172' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect opacity='0.1' width='172' height='172' fill='%23E21A1A'/%3E%3C/svg%3E%0A");
  transition: 0.3s;
}

section.four,
section.ten {
  padding: 70px 124px;
}
section.four .container__wrapper,
section.ten .container__wrapper {
  justify-content: space-between;
}
section.four .container__wrapper-item:nth-child(1),
section.ten .container__wrapper-item:nth-child(1) {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 49%;
  min-width: 466px;
  margin-right: 24px;
  padding-left: 100px;
}
section.four .container__wrapper-item:nth-child(1) p,
section.ten .container__wrapper-item:nth-child(1) p {
  margin-left: 0;
  font-weight: 500;
}
section.four .container__wrapper-item:nth-child(2),
section.ten .container__wrapper-item:nth-child(2) {
  width: 49%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
section.four .container__wrapper-item:nth-child(2) p,
section.ten .container__wrapper-item:nth-child(2) p {
  max-width: 620px;
}
section.four h4,
section.ten h4 {
  margin-right: 0;
  margin-left: auto;
  width: 49%;
  text-align: left;
}
section.four .graphic-item:after,
section.ten .graphic-item:after {
  content: "";
  height: 172px;
  width: 172px;
  position: absolute;
  left: 0;
  top: -50px;
  background-image: url("data:image/svg+xml,%3Csvg width='172' height='172' viewBox='0 0 172 172' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect opacity='0.1' width='172' height='172' fill='%23E21A1A'/%3E%3C/svg%3E%0A");
  transition: 0.3s;
}
section.four .graphic-item:before,
section.ten .graphic-item:before {
  content: "";
  height: 172px;
  width: 172px;
  position: absolute;
  left: 0;
  bottom: -50px;
  background-image: url("data:image/svg+xml,%3Csvg width='82' height='81' viewBox='0 0 82 81' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='2.24891' cy='1.62' r='1.62' fill='%23E4E5EC'/%3E%3Ccircle cx='2.24891' cy='11.34' r='1.62' fill='%23E4E5EC'/%3E%3Ccircle cx='2.24891' cy='21.0599' r='1.62' fill='%23E4E5EC'/%3E%3Ccircle cx='2.24891' cy='30.78' r='1.62' fill='%23E4E5EC'/%3E%3Ccircle cx='2.24891' cy='40.5' r='1.62' fill='%23E4E5EC'/%3E%3Ccircle cx='2.24891' cy='50.22' r='1.62' fill='%23E4E5EC'/%3E%3Ccircle cx='2.24891' cy='59.9399' r='1.62' fill='%23E4E5EC'/%3E%3Ccircle cx='2.24891' cy='69.66' r='1.62' fill='%23E4E5EC'/%3E%3Ccircle cx='2.24891' cy='79.38' r='1.62' fill='%23E4E5EC'/%3E%3Ccircle cx='11.9689' cy='1.62' r='1.62' fill='%23E4E5EC'/%3E%3Ccircle cx='11.9689' cy='11.34' r='1.62' fill='%23E4E5EC'/%3E%3Ccircle cx='11.9689' cy='21.0599' r='1.62' fill='%23E4E5EC'/%3E%3Ccircle cx='11.9689' cy='30.78' r='1.62' fill='%23E4E5EC'/%3E%3Ccircle cx='11.9689' cy='40.5' r='1.62' fill='%23E4E5EC'/%3E%3Ccircle cx='11.9689' cy='50.22' r='1.62' fill='%23E4E5EC'/%3E%3Ccircle cx='11.9689' cy='59.9399' r='1.62' fill='%23E4E5EC'/%3E%3Ccircle cx='11.9689' cy='69.66' r='1.62' fill='%23E4E5EC'/%3E%3Ccircle cx='11.9689' cy='79.38' r='1.62' fill='%23E4E5EC'/%3E%3Ccircle cx='21.6889' cy='1.62' r='1.62' fill='%23E4E5EC'/%3E%3Ccircle cx='21.6889' cy='11.34' r='1.62' fill='%23E4E5EC'/%3E%3Ccircle cx='21.6889' cy='21.0599' r='1.62' fill='%23E4E5EC'/%3E%3Ccircle cx='21.6889' cy='30.78' r='1.62' fill='%23E4E5EC'/%3E%3Ccircle cx='21.6889' cy='40.5' r='1.62' fill='%23E4E5EC'/%3E%3Ccircle cx='21.6889' cy='50.22' r='1.62' fill='%23E4E5EC'/%3E%3Ccircle cx='21.6889' cy='59.9399' r='1.62' fill='%23E4E5EC'/%3E%3Ccircle cx='21.6889' cy='69.66' r='1.62' fill='%23E4E5EC'/%3E%3Ccircle cx='21.6889' cy='79.38' r='1.62' fill='%23E4E5EC'/%3E%3Ccircle cx='31.4089' cy='1.62' r='1.62' fill='%23E4E5EC'/%3E%3Ccircle cx='31.4089' cy='11.34' r='1.62' fill='%23E4E5EC'/%3E%3Ccircle cx='31.4089' cy='21.0599' r='1.62' fill='%23E4E5EC'/%3E%3Ccircle cx='31.4089' cy='30.78' r='1.62' fill='%23E4E5EC'/%3E%3Ccircle cx='31.4089' cy='40.5' r='1.62' fill='%23E4E5EC'/%3E%3Ccircle cx='31.4089' cy='50.22' r='1.62' fill='%23E4E5EC'/%3E%3Ccircle cx='31.4089' cy='59.9399' r='1.62' fill='%23E4E5EC'/%3E%3Ccircle cx='31.4089' cy='69.66' r='1.62' fill='%23E4E5EC'/%3E%3Ccircle cx='31.4089' cy='79.38' r='1.62' fill='%23E4E5EC'/%3E%3Ccircle cx='41.1289' cy='1.62' r='1.62' fill='%23E4E5EC'/%3E%3Ccircle cx='41.1289' cy='11.34' r='1.62' fill='%23E4E5EC'/%3E%3Ccircle cx='41.1289' cy='21.0599' r='1.62' fill='%23E4E5EC'/%3E%3Ccircle cx='41.1289' cy='30.78' r='1.62' fill='%23E4E5EC'/%3E%3Ccircle cx='41.1289' cy='40.5' r='1.62' fill='%23E4E5EC'/%3E%3Ccircle cx='41.1289' cy='50.22' r='1.62' fill='%23E4E5EC'/%3E%3Ccircle cx='41.1289' cy='59.9399' r='1.62' fill='%23E4E5EC'/%3E%3Ccircle cx='41.1289' cy='69.66' r='1.62' fill='%23E4E5EC'/%3E%3Ccircle cx='41.1289' cy='79.38' r='1.62' fill='%23E4E5EC'/%3E%3Ccircle cx='50.8489' cy='1.62' r='1.62' fill='%23E4E5EC'/%3E%3Ccircle cx='50.8489' cy='11.34' r='1.62' fill='%23E4E5EC'/%3E%3Ccircle cx='50.8489' cy='21.0599' r='1.62' fill='%23E4E5EC'/%3E%3Ccircle cx='50.8489' cy='30.78' r='1.62' fill='%23E4E5EC'/%3E%3Ccircle cx='50.8489' cy='40.5' r='1.62' fill='%23E4E5EC'/%3E%3Ccircle cx='50.8489' cy='50.22' r='1.62' fill='%23E4E5EC'/%3E%3Ccircle cx='50.8489' cy='59.9399' r='1.62' fill='%23E4E5EC'/%3E%3Ccircle cx='50.8489' cy='69.66' r='1.62' fill='%23E4E5EC'/%3E%3Ccircle cx='50.8489' cy='79.38' r='1.62' fill='%23E4E5EC'/%3E%3Ccircle cx='60.5689' cy='1.62' r='1.62' fill='%23E4E5EC'/%3E%3Ccircle cx='60.5689' cy='11.34' r='1.62' fill='%23E4E5EC'/%3E%3Ccircle cx='60.5689' cy='21.0599' r='1.62' fill='%23E4E5EC'/%3E%3Ccircle cx='60.5689' cy='30.78' r='1.62' fill='%23E4E5EC'/%3E%3Ccircle cx='60.5689' cy='40.5' r='1.62' fill='%23E4E5EC'/%3E%3Ccircle cx='60.5689' cy='50.22' r='1.62' fill='%23E4E5EC'/%3E%3Ccircle cx='60.5689' cy='59.9399' r='1.62' fill='%23E4E5EC'/%3E%3Ccircle cx='60.5689' cy='69.66' r='1.62' fill='%23E4E5EC'/%3E%3Ccircle cx='60.5689' cy='79.38' r='1.62' fill='%23E4E5EC'/%3E%3Ccircle cx='70.2889' cy='1.62' r='1.62' fill='%23E4E5EC'/%3E%3Ccircle cx='70.2889' cy='11.34' r='1.62' fill='%23E4E5EC'/%3E%3Ccircle cx='70.2889' cy='21.0599' r='1.62' fill='%23E4E5EC'/%3E%3Ccircle cx='70.2889' cy='30.78' r='1.62' fill='%23E4E5EC'/%3E%3Ccircle cx='70.2889' cy='40.5' r='1.62' fill='%23E4E5EC'/%3E%3Ccircle cx='70.2889' cy='50.22' r='1.62' fill='%23E4E5EC'/%3E%3Ccircle cx='70.2889' cy='59.9399' r='1.62' fill='%23E4E5EC'/%3E%3Ccircle cx='70.2889' cy='69.66' r='1.62' fill='%23E4E5EC'/%3E%3Ccircle cx='70.2889' cy='79.38' r='1.62' fill='%23E4E5EC'/%3E%3Ccircle cx='80.0089' cy='1.62' r='1.62' fill='%23E4E5EC'/%3E%3Ccircle cx='80.0089' cy='11.34' r='1.62' fill='%23E4E5EC'/%3E%3Ccircle cx='80.0089' cy='21.0599' r='1.62' fill='%23E4E5EC'/%3E%3Ccircle cx='80.0089' cy='30.78' r='1.62' fill='%23E4E5EC'/%3E%3Ccircle cx='80.0089' cy='40.5' r='1.62' fill='%23E4E5EC'/%3E%3Ccircle cx='80.0089' cy='50.22' r='1.62' fill='%23E4E5EC'/%3E%3Ccircle cx='80.0089' cy='59.9399' r='1.62' fill='%23E4E5EC'/%3E%3Ccircle cx='80.0089' cy='69.66' r='1.62' fill='%23E4E5EC'/%3E%3Ccircle cx='80.0089' cy='79.38' r='1.62' fill='%23E4E5EC'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: left center;
}
section.four .graphic-item__wrapper,
section.ten .graphic-item__wrapper {
  width: 95%;
  display: flex;
  flex-direction: row;
}
section.four .graphic-item__wrapper-item,
section.ten .graphic-item__wrapper-item {
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
section.four .graphic-item__wrapper-item .graphic--bar:nth-child(2),
section.ten .graphic-item__wrapper-item .graphic--bar:nth-child(2) {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background: none;
  width: 32px;
  height: 174px;
  margin: 0;
  margin-bottom: 15px;
}
section.four .graphic-item__wrapper-item .graphic--bar:nth-child(2) .progress--bar,
section.ten .graphic-item__wrapper-item .graphic--bar:nth-child(2) .progress--bar {
  border-radius: 2px;
  height: 0;
  width: 100%;
  background: #E21A1A;
  transition: 0.3s;
  box-shadow: 0 1px 0 1px #E21A1A;
}
section.four .graphic-item__wrapper-item span:nth-child(3),
section.ten .graphic-item__wrapper-item span:nth-child(3) {
  font-size: 14px;
  line-height: 17px;
  margin-left: 0;
}

.graphic-label {
  font-size: 12px;
  line-height: 14px;
  color: #363636;
  opacity: 0.5;
}

.graphic-item__wrapper-item {
  width: 75%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.graphic-item__wrapper-item span {
  display: block;
  font-family: "RussianRail", sans-serif;
  font-weight: 400;
  color: #E21A1A;
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 19px;
  width: 50px;
}
.graphic-item__wrapper-item .graphic--bar:nth-child(2) {
  background: none;
  border-radius: 2px;
  border: 1px dashed #E21A1A;
  height: 32px;
  width: 270px;
  margin-left: 35px;
}
.graphic-item__wrapper-item .graphic--bar:nth-child(2) .progress--bar {
  border-radius: 2px;
  background: #E21A1A;
  width: 0;
  height: 100%;
  box-shadow: 0 0 0 1px #E21A1A;
}
.graphic-item__wrapper-item span:nth-child(3) {
  margin-left: 7px;
}

section.three,
section.five,
section.seven,
section.nine {
  position: relative;
  background: var(--background-color-grey);
  padding: 80px 0;
}
section.three .three__svg,
section.five .three__svg,
section.seven .three__svg,
section.nine .three__svg {
  position: absolute;
  top: 0;
  left: 144px;
  z-index: 0;
}
section.three .container__wrapper,
section.five .container__wrapper,
section.seven .container__wrapper,
section.nine .container__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: auto;
}
section.three .container__wrapper-item,
section.five .container__wrapper-item,
section.seven .container__wrapper-item,
section.nine .container__wrapper-item {
  width: auto;
}
section.three .container__wrapper-item h4,
section.five .container__wrapper-item h4,
section.seven .container__wrapper-item h4,
section.nine .container__wrapper-item h4 {
  color: var(--text-color);
  font-size: 28px;
  line-height: 34px;
  margin-bottom: 16px;
}
section.three .container__wrapper-item h5,
section.five .container__wrapper-item h5,
section.seven .container__wrapper-item h5,
section.nine .container__wrapper-item h5 {
  color: var(--text-color);
  font-weight: 700;
  font-size: var(--font-16);
  line-height: 140%;
  margin-bottom: 8px;
}
section.three .container__wrapper-item p,
section.five .container__wrapper-item p,
section.seven .container__wrapper-item p,
section.nine .container__wrapper-item p {
  color: var(--text-color);
  font-family: "RussianRail", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: var(--font-16);
  line-height: 180%;
  margin-bottom: 16px;
}
section.three .container__wrapper-item:nth-child(1),
section.five .container__wrapper-item:nth-child(1),
section.seven .container__wrapper-item:nth-child(1),
section.nine .container__wrapper-item:nth-child(1) {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 242px;
  margin-right: 24px;
}
section.three .container__wrapper-item:nth-child(1) p,
section.five .container__wrapper-item:nth-child(1) p,
section.seven .container__wrapper-item:nth-child(1) p,
section.nine .container__wrapper-item:nth-child(1) p {
  max-width: 270px;
  color: var(--text-color);
  font-family: "RussianRail", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 160%;
}
section.three .container__wrapper-item:nth-child(1) img,
section.five .container__wrapper-item:nth-child(1) img,
section.seven .container__wrapper-item:nth-child(1) img,
section.nine .container__wrapper-item:nth-child(1) img {
  position: relative;
  display: block;
  border: 5px solid #E5E5E5;
  border-radius: 50%;
  margin-bottom: 10px;
  margin-top: 80px;
  z-index: 1;
}
section.three .container__wrapper-item:nth-child(2),
section.five .container__wrapper-item:nth-child(2),
section.seven .container__wrapper-item:nth-child(2),
section.nine .container__wrapper-item:nth-child(2) {
  margin-left: 0;
  margin-right: auto;
  max-width: 662px;
}

section.five .container__wrapper-item:nth-child(1) img {
  margin-top: auto;
}

.graphic-item--modal {
  position: relative;
  padding: 25px 20px 16px 34px;
  background: #F2F4F7;
  border: 1px solid #FFFFFF;
  border-radius: 8px;
  font-weight: 300 !important;
  font-size: 16px !important;
  max-width: 368px !important;
  line-height: 180% !important;
  z-index: 5;
}
.graphic-item--modal svg {
  position: relative;
  top: 1px;
  margin-right: 5px;
}

section.six {
  padding: 70px 0;
}
section.six h4 {
  margin-left: 144px;
}
section.six .graphic-item::after {
  top: 0 !important;
  z-index: 5;
  right: 80px;
}
section.six .bottom__wrapper {
  top: 0 !important;
}

section.six .container__wrapper {
  align-items: stretch;
  margin-left: 144px;
}

section.six .container__wrapper-item:nth-child(2) {
  position: relative;
  z-index: 1;
  max-width: 100%;
  width: 55%;
  overflow: hidden;
}
section.six .container__wrapper-item:nth-child(2) p {
  width: 100%;
}
section.six .container__wrapper-item:nth-child(2) .land {
  position: absolute;
  object-fit: cover;
  display: block;
  width: 100%;
  top: 290px;
  left: -10px;
  z-index: 1;
}
section.six .container__wrapper-item:nth-child(2) .cloud {
  position: absolute;
  object-fit: cover;
  display: block;
  width: 60%;
  top: 226px;
  right: 20px;
  z-index: 4;
}
section.six .container__wrapper-item:nth-child(2) .station {
  position: absolute;
  object-fit: cover;
  display: block;
  width: 75%;
  left: -10px;
  right: auto;
  top: 570px;
  z-index: 1;
}
section.six .container__wrapper-item:nth-child(2) .fade {
  position: absolute;
  object-fit: cover;
  display: block;
  right: -20px;
  z-index: 3;
  top: 170px;
}
section.six .container__wrapper-item:nth-child(2) .yacht {
  position: absolute;
  object-fit: cover;
  display: block;
  top: 43%;
  bottom: auto;
  margin: auto;
  right: 32%;
  z-index: 2;
}
section.six .container__wrapper-item:nth-child(2) .rails {
  position: absolute;
  object-fit: cover;
  display: block;
  left: -10px;
  right: 0;
  top: 750px;
  z-index: 0;
}
section.six .container__wrapper-item:nth-child(2) .loco {
  position: absolute;
  object-fit: cover;
  display: block;
  top: 730px;
  right: -330px;
  z-index: 2;
}
section.six .container__wrapper-item:nth-child(2) .graphic-label {
  display: block;
  position: relative;
  margin-top: 90%;
}

.graphic-item-background-cloud {
  overflow: visible;
  display: flex;
  font-size: 16px;
  line-height: 19px;
  font-weight: 300;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  top: 210px;
  right: 290px;
  width: 290px;
  height: 200px;
  background-image: url("../img/rzd-eco/rzd-eco/5/cloud-one.svg");
  background-repeat: no-repeat;
  background-position: center center;
  z-index: 5;
  padding-top: 15px;
}
.graphic-item-background-cloud .percent__block {
  margin-left: 70px;
  margin-right: auto;
  margin-top: 5px;
}
.graphic-item-background-cloud span:first-child {
  color: #E21A1A;
  font-size: 16px;
  line-height: 16px;
}
.graphic-item-background-cloud span:nth-child(2) {
  color: #E5E5E5;
  font-size: 16px;
  line-height: 16px;
  margin: 0 5px;
}
.graphic-item-background-cloud span:nth-child(3) {
  color: #7A4FF4;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
}

.graphic-item-background .graphic-item-background-cloud.two {
  background-image: url("../img/rzd-eco/rzd-eco/5/cloud-two.svg");
  top: 330px;
  right: 70px;
  padding-top: 0;
}
.graphic-item-background .graphic-item-background-cloud.three {
  background-image: url("../img/rzd-eco/rzd-eco/5/cloud-three.svg");
  left: -40px;
  top: 490px;
  right: auto;
  padding-top: 0;
}
.graphic-item-background .graphic-item-background-cloud.three .percent__block {
  margin-left: 85px;
}
.graphic-item-background .graphic-item-background-cloud.four {
  background-image: url("../img/rzd-eco/rzd-eco/5/cloud-four.svg");
  top: 570px;
  right: 70px;
  padding-top: 0;
}
.graphic-item-background .graphic-item-background-cloud.four .percent__block {
  margin-left: 90px;
}
.graphic-item-background .graphic-item-background-cloud.five {
  background-image: url("../img/rzd-eco/rzd-eco/5/cloud-five.svg");
  top: 380px;
  left: 100px;
  padding-bottom: 20px;
}
.graphic-item-background .graphic-item-background-cloud.five .percent__block {
  margin-left: 90px;
}

.bottom__wrapper {
  margin-left: 0 !important;
  margin-top: 50px !important;
  top: -250px !important;
}
.bottom__wrapper h4 {
  margin-left: 0 !important;
}
.bottom__wrapper .graphic-item::after {
  left: 150px;
  top: 30px !important;
  z-index: 1;
}
.bottom__wrapper .graphic-item::before {
  content: "";
  height: 172px;
  width: 172px;
  position: absolute;
  left: 120px;
  bottom: auto;
  top: 90px;
  background-image: url("data:image/svg+xml,%3Csvg width='82' height='81' viewBox='0 0 82 81' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='2.24891' cy='1.62' r='1.62' fill='%23E4E5EC'/%3E%3Ccircle cx='2.24891' cy='11.34' r='1.62' fill='%23E4E5EC'/%3E%3Ccircle cx='2.24891' cy='21.0599' r='1.62' fill='%23E4E5EC'/%3E%3Ccircle cx='2.24891' cy='30.78' r='1.62' fill='%23E4E5EC'/%3E%3Ccircle cx='2.24891' cy='40.5' r='1.62' fill='%23E4E5EC'/%3E%3Ccircle cx='2.24891' cy='50.22' r='1.62' fill='%23E4E5EC'/%3E%3Ccircle cx='2.24891' cy='59.9399' r='1.62' fill='%23E4E5EC'/%3E%3Ccircle cx='2.24891' cy='69.66' r='1.62' fill='%23E4E5EC'/%3E%3Ccircle cx='2.24891' cy='79.38' r='1.62' fill='%23E4E5EC'/%3E%3Ccircle cx='11.9689' cy='1.62' r='1.62' fill='%23E4E5EC'/%3E%3Ccircle cx='11.9689' cy='11.34' r='1.62' fill='%23E4E5EC'/%3E%3Ccircle cx='11.9689' cy='21.0599' r='1.62' fill='%23E4E5EC'/%3E%3Ccircle cx='11.9689' cy='30.78' r='1.62' fill='%23E4E5EC'/%3E%3Ccircle cx='11.9689' cy='40.5' r='1.62' fill='%23E4E5EC'/%3E%3Ccircle cx='11.9689' cy='50.22' r='1.62' fill='%23E4E5EC'/%3E%3Ccircle cx='11.9689' cy='59.9399' r='1.62' fill='%23E4E5EC'/%3E%3Ccircle cx='11.9689' cy='69.66' r='1.62' fill='%23E4E5EC'/%3E%3Ccircle cx='11.9689' cy='79.38' r='1.62' fill='%23E4E5EC'/%3E%3Ccircle cx='21.6889' cy='1.62' r='1.62' fill='%23E4E5EC'/%3E%3Ccircle cx='21.6889' cy='11.34' r='1.62' fill='%23E4E5EC'/%3E%3Ccircle cx='21.6889' cy='21.0599' r='1.62' fill='%23E4E5EC'/%3E%3Ccircle cx='21.6889' cy='30.78' r='1.62' fill='%23E4E5EC'/%3E%3Ccircle cx='21.6889' cy='40.5' r='1.62' fill='%23E4E5EC'/%3E%3Ccircle cx='21.6889' cy='50.22' r='1.62' fill='%23E4E5EC'/%3E%3Ccircle cx='21.6889' cy='59.9399' r='1.62' fill='%23E4E5EC'/%3E%3Ccircle cx='21.6889' cy='69.66' r='1.62' fill='%23E4E5EC'/%3E%3Ccircle cx='21.6889' cy='79.38' r='1.62' fill='%23E4E5EC'/%3E%3Ccircle cx='31.4089' cy='1.62' r='1.62' fill='%23E4E5EC'/%3E%3Ccircle cx='31.4089' cy='11.34' r='1.62' fill='%23E4E5EC'/%3E%3Ccircle cx='31.4089' cy='21.0599' r='1.62' fill='%23E4E5EC'/%3E%3Ccircle cx='31.4089' cy='30.78' r='1.62' fill='%23E4E5EC'/%3E%3Ccircle cx='31.4089' cy='40.5' r='1.62' fill='%23E4E5EC'/%3E%3Ccircle cx='31.4089' cy='50.22' r='1.62' fill='%23E4E5EC'/%3E%3Ccircle cx='31.4089' cy='59.9399' r='1.62' fill='%23E4E5EC'/%3E%3Ccircle cx='31.4089' cy='69.66' r='1.62' fill='%23E4E5EC'/%3E%3Ccircle cx='31.4089' cy='79.38' r='1.62' fill='%23E4E5EC'/%3E%3Ccircle cx='41.1289' cy='1.62' r='1.62' fill='%23E4E5EC'/%3E%3Ccircle cx='41.1289' cy='11.34' r='1.62' fill='%23E4E5EC'/%3E%3Ccircle cx='41.1289' cy='21.0599' r='1.62' fill='%23E4E5EC'/%3E%3Ccircle cx='41.1289' cy='30.78' r='1.62' fill='%23E4E5EC'/%3E%3Ccircle cx='41.1289' cy='40.5' r='1.62' fill='%23E4E5EC'/%3E%3Ccircle cx='41.1289' cy='50.22' r='1.62' fill='%23E4E5EC'/%3E%3Ccircle cx='41.1289' cy='59.9399' r='1.62' fill='%23E4E5EC'/%3E%3Ccircle cx='41.1289' cy='69.66' r='1.62' fill='%23E4E5EC'/%3E%3Ccircle cx='41.1289' cy='79.38' r='1.62' fill='%23E4E5EC'/%3E%3Ccircle cx='50.8489' cy='1.62' r='1.62' fill='%23E4E5EC'/%3E%3Ccircle cx='50.8489' cy='11.34' r='1.62' fill='%23E4E5EC'/%3E%3Ccircle cx='50.8489' cy='21.0599' r='1.62' fill='%23E4E5EC'/%3E%3Ccircle cx='50.8489' cy='30.78' r='1.62' fill='%23E4E5EC'/%3E%3Ccircle cx='50.8489' cy='40.5' r='1.62' fill='%23E4E5EC'/%3E%3Ccircle cx='50.8489' cy='50.22' r='1.62' fill='%23E4E5EC'/%3E%3Ccircle cx='50.8489' cy='59.9399' r='1.62' fill='%23E4E5EC'/%3E%3Ccircle cx='50.8489' cy='69.66' r='1.62' fill='%23E4E5EC'/%3E%3Ccircle cx='50.8489' cy='79.38' r='1.62' fill='%23E4E5EC'/%3E%3Ccircle cx='60.5689' cy='1.62' r='1.62' fill='%23E4E5EC'/%3E%3Ccircle cx='60.5689' cy='11.34' r='1.62' fill='%23E4E5EC'/%3E%3Ccircle cx='60.5689' cy='21.0599' r='1.62' fill='%23E4E5EC'/%3E%3Ccircle cx='60.5689' cy='30.78' r='1.62' fill='%23E4E5EC'/%3E%3Ccircle cx='60.5689' cy='40.5' r='1.62' fill='%23E4E5EC'/%3E%3Ccircle cx='60.5689' cy='50.22' r='1.62' fill='%23E4E5EC'/%3E%3Ccircle cx='60.5689' cy='59.9399' r='1.62' fill='%23E4E5EC'/%3E%3Ccircle cx='60.5689' cy='69.66' r='1.62' fill='%23E4E5EC'/%3E%3Ccircle cx='60.5689' cy='79.38' r='1.62' fill='%23E4E5EC'/%3E%3Ccircle cx='70.2889' cy='1.62' r='1.62' fill='%23E4E5EC'/%3E%3Ccircle cx='70.2889' cy='11.34' r='1.62' fill='%23E4E5EC'/%3E%3Ccircle cx='70.2889' cy='21.0599' r='1.62' fill='%23E4E5EC'/%3E%3Ccircle cx='70.2889' cy='30.78' r='1.62' fill='%23E4E5EC'/%3E%3Ccircle cx='70.2889' cy='40.5' r='1.62' fill='%23E4E5EC'/%3E%3Ccircle cx='70.2889' cy='50.22' r='1.62' fill='%23E4E5EC'/%3E%3Ccircle cx='70.2889' cy='59.9399' r='1.62' fill='%23E4E5EC'/%3E%3Ccircle cx='70.2889' cy='69.66' r='1.62' fill='%23E4E5EC'/%3E%3Ccircle cx='70.2889' cy='79.38' r='1.62' fill='%23E4E5EC'/%3E%3Ccircle cx='80.0089' cy='1.62' r='1.62' fill='%23E4E5EC'/%3E%3Ccircle cx='80.0089' cy='11.34' r='1.62' fill='%23E4E5EC'/%3E%3Ccircle cx='80.0089' cy='21.0599' r='1.62' fill='%23E4E5EC'/%3E%3Ccircle cx='80.0089' cy='30.78' r='1.62' fill='%23E4E5EC'/%3E%3Ccircle cx='80.0089' cy='40.5' r='1.62' fill='%23E4E5EC'/%3E%3Ccircle cx='80.0089' cy='50.22' r='1.62' fill='%23E4E5EC'/%3E%3Ccircle cx='80.0089' cy='59.9399' r='1.62' fill='%23E4E5EC'/%3E%3Ccircle cx='80.0089' cy='69.66' r='1.62' fill='%23E4E5EC'/%3E%3Ccircle cx='80.0089' cy='79.38' r='1.62' fill='%23E4E5EC'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: left center;
}
.bottom__wrapper .container__wrapper-item:nth-child(2) {
  width: 47% !important;
}
.bottom__wrapper .container__wrapper-item:nth-child(2) p {
  max-width: 80% !important;
  font-weight: 300 !important;
}
.bottom__wrapper .graphic-item {
  position: relative;
  overflow: hidden;
}
.bottom__wrapper img {
  position: absolute;
  object-fit: cover;
  display: block;
}
.bottom__wrapper .terrain {
  width: 100%;
  bottom: 50px;
  left: 0;
  z-index: 3;
}
.bottom__wrapper .rail {
  width: 100%;
  bottom: 60px;
  left: 0;
  z-index: 3;
}
.bottom__wrapper .building {
  bottom: 120px;
  left: auto;
  right: 15px;
  z-index: 3;
}
.bottom__wrapper .wire {
  width: 100%;
  bottom: 68px;
  left: auto;
  right: auto;
  z-index: 3;
}
.bottom__wrapper .mountain-left {
  bottom: 230px;
  z-index: 2;
  left: -10px;
}
.bottom__wrapper .forest-left {
  bottom: 180px;
  z-index: 3;
  left: -10px;
}
.bottom__wrapper .right-fade {
  bottom: 50px;
  z-index: 4;
  left: -20px;
}
.bottom__wrapper .loco {
  bottom: 65px;
  z-index: 3;
  left: 0;
}

section.eight {
  padding-bottom: 200px;
}
section.eight .graphic-item p {
  position: relative;
  z-index: 10;
}
section.eight .graphic-item .bottom__text {
  top: -180px;
}
section.eight .graphic-item::after {
  right: -20px !important;
  top: -60px;
  z-index: 10 !important;
}
section.eight .bottom__wrapper {
  position: relative;
  margin-top: 0 !important;
}
section.eight .bottom__wrapper .popup {
  padding: 16px;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 180%;
  background: #FFFFFF;
  position: absolute;
  box-shadow: 0px 4px 14px rgba(188, 190, 195, 0.6);
  border-radius: 8px;
}
section.eight .bottom__wrapper .popup.one {
  color: #E21A1A;
  left: 10px;
  top: 210px;
}
section.eight .bottom__wrapper .popup.two {
  right: 0;
  top: 400px;
}
section.eight .bottom__wrapper p {
  font-weight: 300 !important;
  font-size: 16px !important;
  position: absolute;
  bottom: 150px;
  top: auto !important;
}
section.eight .graphic-item-background {
  position: relative;
  height: 70%;
  top: -150px;
}
section.eight .graphic-item-background img {
  position: absolute;
  object-fit: cover;
  display: block;
}
section.eight .graphic-item-background .lake {
  top: 345px;
  z-index: 4;
  left: 190px;
}
section.eight .graphic-item-background .vector58 {
  top: 280px;
  z-index: 2;
  right: 95px;
}
section.eight .graphic-item-background .vector159 {
  left: 40px;
  top: 50px;
  z-index: 1;
}
section.eight .graphic-item-background .vector161 {
  right: -26px;
  top: 229px;
  z-index: 0;
}
section.eight .graphic-item-background .vector160 {
  top: 218px;
  z-index: 4;
  right: -25px;
}
section.eight .graphic-item-background .vector62 {
  top: 309px;
  z-index: 4;
  left: 155px;
}
section.eight .graphic-item-background .vector163 {
  top: 475px;
  z-index: -1;
  left: 20px;
}
section.eight .graphic-item-background .railroad {
  top: 292px;
  z-index: 4;
  left: 23px;
}
section.eight .graphic-item-background .text {
  top: 305px;
  z-index: 5;
  right: -20px;
}
section.eight .graphic-item-background .city {
  top: 475px;
  z-index: 5;
  right: 148px;
}
section.eight .graphic-item-background .city2 {
  top: 470px;
  z-index: 5;
  left: 208px;
}
section.eight .graphic-item-background .city3 {
  top: 490px;
  z-index: 5;
  left: 282px;
}
section.eight .graphic-item-background .city4 {
  top: 601px;
  z-index: 5;
  left: 280px;
}

section.ten .graphic-item__wrapper {
  flex-direction: column;
}
section.ten .container__wrapper-item:nth-child(2) p {
  font-size: 16px;
  line-height: 180%;
  font-weight: 300;
}
section.ten .graphic-item .graphic-item__wrapper .count {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
  align-items: flex-end;
}
section.ten .graphic-item .graphic-item__wrapper .count:nth-child(2) {
  margin-top: 0;
}
section.ten .graphic-item .graphic-item__wrapper .count span {
  width: auto;
}
section.ten .graphic-item .graphic-item__wrapper .count span:nth-child(1) {
  font-size: 120px;
  line-height: 145px;
  font-weight: 700;
}
section.ten .graphic-item .graphic-item__wrapper .count span:nth-child(2) {
  font-weight: 300 !important;
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 40px;
  margin-left: 13px;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 35px;
  padding-top: 44px;
  border-top: 1px solid #CBCDD5;
}
footer svg {
  cursor: pointer;
}
footer span:nth-child(2) {
  color: #E21A1A;
}
footer .bottom__social svg {
  margin-left: 28px;
}
footer .bottom__logos svg {
  margin-left: 30px;
}

iframe.width-changed {
  width: 100%;
  display: block;
  border: 0;
  height: 0;
  margin: 0;
}